APIURL=http://localhost:3333/
TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7Il9pZCI6IjVlNTUyNDdlZjg1ZjU4NGQ4M2JjZDg1ZSIsInVzZXJuYW1lIjoibWFyY290dWxpb2NuZCIsImNyZWF0ZWRBdCI6IjIwMjAtMDItMjVUMTM6NDM6MjYuNzE4WiIsInVwZGF0ZWRBdCI6IjIwMjAtMDItMjVUMTM6NDM6MjYuNzE4WiIsIl9fdiI6MH0sImlhdCI6MTU4Mjg0MzM0NiwiZXhwIjoxNjE0Mzc5MzQ2fQ.4I84KpcB12alAzUJcpGesuFqUwf2pwf1a2xDEarW0Ec