.container {
  max-width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anuncio-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-top: 1.2rem;
}